

.blog-post>.panel .index-post-img .item-thumb,
.panel-small .index-post-img-small .item-thumb-small,
.index-post-title a {
    transition: all .2s
}

.blog-post>.panel:hover .index-post-img .item-thumb,
.blog-post>.panel-small:hover .index-post-img-small .item-thumb-small {
    transform: scale(1.05)
}

.index-post-title a:hover {
    color: #2ebaae
}

.max-img {
    max-height: 400px
}

/*img*/
img[mw400] {
    max-width: 400px !important;
    width: 100%
}

.mw400 {
    max-width: 400px
}

/*inner-post*/
.inner-image {
    background-position: center
}

.inser-title {
    color: #555 !important
}

.inster-summary {
    color: #58666e !important
}

.preview .post-inser {
    background-color: rgba(255, 255, 255, .8);
    transition: all .3s
}

.preview .post-inser:hover {
    background-color: rgba(255, 255, 255, 1)
}

/*avatar*/
#aside-user span.avatar {
    transition: all .3s;
}

#alllayout:not(.app-aside-folded) #aside-user span.avatar:hover {
    transform: rotate(30deg)
}

/*experimental modify 2018-07-19*/
@media screen and (min-width: 1200px) {
    .panel-small .post-meta {
        padding: 13px 15px !important
    }

    .blog-post .post-meta.wrapper-lg {
        padding-top: 15px
    }

    .sticky {
        position: absolute;
        top: 12px;
        left: 15px
    }

    .panel .item-thumb {
        height: 300px
    }

    #post-panel .blog-post {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }

    #post-panel>div.blog-post>.panel {
        overflow: hidden;
        width: 100%
    }

    #post-panel>div.blog-post>.panel .post-meta {
        position: relative;
        margin-top: -300px;
        height: 300px;
        padding-top: 133px !important;
        padding-bottom: 0 !important;
        background-color: rgba(0, 0, 0, .3);
        color: #fff !important;
        transition: all .3s
    }

    #post-panel>div.blog-post>.panel .post-meta,
    #post-panel>div.blog-post>.panel-small .post-meta {
        border-radius: 5px
    }

    #post-panel>div.blog-post>.panel .post-meta *,
    #post-panel>div.blog-post>.panel-small .post-meta * {
        color: #fff !important
    }

    #post-panel>div.blog-post>.panel .post-meta>h2,
    #post-panel>div.blog-post>.panel-small .post-meta>h2 {
        text-align: center;
        text-shadow: 0 0 3px #fff
    }

    #post-panel>div.blog-post>.panel .post-meta>div,
    #post-panel>div.blog-post>.panel .post-meta>p,
    #post-panel>div.blog-post>.panel-small .post-meta>div,
    #post-panel>div.blog-post>.panel-small .post-meta>p {
        transition: all .3s;
        transform: translateY(-10px);
        opacity: 0
    }

    #post-panel>div.blog-post>.panel .post-meta>.text-muted,
    #post-panel>div.blog-post>.panel-small .post-meta>.text-muted {
        position: absolute;
        bottom: 20px
    }

    #post-panel>div.blog-post>.panel .post-meta>.line {
        position: absolute;
        bottom: 40px;
        width: 740px
    }

    #post-panel>div.blog-post>.panel-small .post-meta>.line {
        position: absolute;
        bottom: 40px;
        width: 350px
    }

    #post-panel>div.blog-post>.panel .post-meta>.summary {
        position: absolute;
        bottom: 60px;
        width: 740px
    }

    #post-panel>div.blog-post>.panel-small .post-meta>.summary {
        position: absolute;
        bottom: 60px;
        width: 350px
    }

    #post-panel>div.blog-post>.panel-small {
        display: inline-block;
        height: 300px;
        width: calc(50% - 10px)
    }

    #post-panel>div.blog-post>.panel-small .index-img-small,
    #post-panel>div.blog-post>.panel-small .index-img-small .item-thumb-small {
        height: 100%;
        width: 100%
    }

    #post-panel>div.blog-post>.panel-small .post-meta {
        position: absolute;
        height: 300px;
        width: calc(50% - 10px);
        padding: 133px 20px 0 20px !important;
        background-color: rgba(0, 0, 0, .3);
        color: #fff !important;
        transition: all .3s
    }

    #post-panel>div.blog-post>.panel-small:hover .post-meta,
    #post-panel>div.blog-post>.panel:hover .post-meta {
        background-color: rgba(0, 0, 0, .6)
    }

    #post-panel>div.blog-post>.panel-small:hover .post-meta>div,
    #post-panel>div.blog-post>.panel-small:hover .post-meta>p,
    #post-panel>div.blog-post>.panel:hover .post-meta>div,
    #post-panel>div.blog-post>.panel:hover .post-meta>p {
        opacity: 1;
        transform: translateY(0)
    }

    #post-panel>div.blog-post>.panel-small:hover .post-meta,
    #post-panel>div.blog-post>.panel:hover .post-meta {
        padding-top: 80px !important
    }

    #post-panel .ahover {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }

    .blog-post>.panel-small:hover .index-post-img-small,
    .blog-post>.panel:hover .index-post-img {
        filter: blur(3px)
    }
}

header.bg-light.wrapper-md {
    margin-top: 30px;
    background-color: transparent !important;
    border: 0;
    text-align: center;
    text-shadow: 0 0 3px #000
}

header.wrapper-md * {
    color: #fff
}

header.wrapper-md h1 {
    font-size: 32px
}

header.wrapper-md h1 {
    font-weight: 700 !important
}

.panel-small>.p-b-none {
    padding-bottom: 0 !important
}
