.gal{
    #bg,#blog_head_bar,.blog-post,#pub_aside,#category_body,.panel-aside-bottom{
        display: none;
    }
    .menu-item-area{
        display: block;
        height: 40%;
        font-size: 14px;
        z-index: 99;
    }

    .headertop {
        // position: relative;
        overflow: hidden;
        // height: auto;
      }
    
      .headertop,
      .pattern-center {
        animation: header 1s;
      }
    
      .headertop.filter-dot:before {
        background-image: url(https://images.weserv.nl/?url=https://jsdelivr.2heng.xin/gh/moezx/cdn@3.1.9/img/Sakura/images/dot.gif);
      }
    
      .headertop:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        background-attachment: fixed;
      }
      
    #bgvideo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        min-width: 99.999%;
        min-height: 550px;
        z-index: 0;
      }
    
      #video-btn,
      #video-add {
        position: absolute;
        bottom: 3px;
        right: 5px;
        width: 32px;
        height: 32px;
        z-index: 7;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        opacity: .8;
        -moz-animation: poi-face 10s linear infinite alternate;
        -webkit-animation: poi-face 10s linear infinite alternate;
        -o-animation: poi-face 10s linear infinite alternate;
        animation: poi-face 10s linear infinite alternate;
      }
    
      .video-play,
      .loadvideo {
        background-image: url(https://images.weserv.nl/?url=https://jsdelivr.2heng.xin/gh/moezx/cdn@3.1.9/img/Sakura/images/play@32x32.png);
      }
    
      #video-add {
        display: none !important;
      }
    
      #video-add {
        background-image: url(https://images.weserv.nl/?url=https://jsdelivr.2heng.xin/gh/moezx/cdn@3.1.9/img/Sakura/images/add@32x32.png);
        bottom: 45px;
        display: none;
      }
}