.gal{
    #bg,#brand_name,#keyword_searcher,.float-right-wrap,.blog-post,#pub_aside,#category_body,.panel-aside-bottom,.main-panel{
        display: none;
    }
    .menu-item-area{
        display: block;
        height: 40%;
        font-size: 14px;
        z-index: 99;
    }
    *{
        list-style-type: none;
    }
    .headertop {
        position: relative;
        overflow: hidden;
        height: auto;
      }
    
      .headertop,
      .pattern-center {
        animation: header 1s;
      }
    
      // .headertop.filter-dot:before {
      //   background-image: url(https://images.weserv.nl/?url=https://jsdelivr.2heng.xin/gh/moezx/cdn@3.1.9/img/Sakura/images/dot.gif);
      // }
    
      // .headertop:before {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   bottom: 0;
      //   left: 0;
      //   right: 0;
      //   z-index: 3;
      //   background-attachment: fixed;
      // }
      
    #bgvideo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        //min-width: 99.999%;
        //min-height: 550px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }
    
      #video-btn,
      #video-add {
        position: absolute;
        bottom: 3px;
        right: 5px;
        width: 32px;
        height: 32px;
        z-index: 7;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        opacity: .8;
        -moz-animation: poi-face 10s linear infinite alternate;
        -webkit-animation: poi-face 10s linear infinite alternate;
        -o-animation: poi-face 10s linear infinite alternate;
        animation: poi-face 10s linear infinite alternate;
      }
    
      .video-play,
      .loadvideo {
        background-image: url(https://images.weserv.nl/?url=https://jsdelivr.2heng.xin/gh/moezx/cdn@3.1.9/img/Sakura/images/play@32x32.png);
      }

      .video-pause {
        background-image: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/pause@32x32.png)
    }
    
    
      #video-add {
        display: none !important;
      }
    
      #video-add {
        background-image: url(https://images.weserv.nl/?url=https://jsdelivr.2heng.xin/gh/moezx/cdn@3.1.9/img/Sakura/images/add@32x32.png);
        bottom: 45px;
        display: none;
      }

      .video-stu {
        position: absolute;
        bottom: -100px;
        left: 0;
        right: 0;
        margin: auto;
        padding: 6px 15px;
        text-align: center;
        color: #FFF;
        width: 100%;
        background-color: rgba(0, 0, 0, .8);
        border-radius: 0;
        font-size: 18px;
        -webkit-transition: .4s ease all;
        -moz-transition: .4s ease all;
        -o-transition: .4s ease all;
        transition: .4s ease all
    }
    
    @keyframes poi-face {
        2%, 24%, 80% {
            -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
            transform: translate(0, 1.5px) rotate(1.5deg)
        }
    
        4%, 68%, 98% {
            -webkit-transform: translate(0, -1.5px) rotate(-.5deg);
            transform: translate(0, -1.5px) rotate(-.5deg)
        }
    
        38%, 6% {
            -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
            transform: translate(0, 1.5px) rotate(-1.5deg)
        }
    
        8%, 86% {
            -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
            transform: translate(0, -1.5px) rotate(-1.5deg)
        }
    
        10%, 72% {
            -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
            transform: translate(0, 2.5px) rotate(1.5deg)
        }
    
        12%, 64%, 78%, 96% {
            -webkit-transform: translate(0, -.5px) rotate(1.5deg);
            transform: translate(0, -.5px) rotate(1.5deg)
        }
    
        14%, 54% {
            -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
            transform: translate(0, -1.5px) rotate(1.5deg)
        }
    
        16% {
            -webkit-transform: translate(0, -.5px) rotate(-1.5deg);
            transform: translate(0, -.5px) rotate(-1.5deg)
        }
    
        18%, 22% {
            -webkit-transform: translate(0, .5px) rotate(-1.5deg);
            transform: translate(0, .5px) rotate(-1.5deg)
        }
    
        20%, 36%, 46% {
            -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
            transform: translate(0, -1.5px) rotate(2.5deg)
        }
    
        26%, 50% {
            -webkit-transform: translate(0, .5px) rotate(.5deg);
            transform: translate(0, .5px) rotate(.5deg)
        }
    
        28% {
            -webkit-transform: translate(0, .5px) rotate(1.5deg);
            transform: translate(0, .5px) rotate(1.5deg)
        }
    
        30%, 40%, 62%, 76%, 88% {
            -webkit-transform: translate(0, -.5px) rotate(2.5deg);
            transform: translate(0, -.5px) rotate(2.5deg)
        }
    
        32%, 34%, 66% {
            -webkit-transform: translate(0, 1.5px) rotate(-.5deg);
            transform: translate(0, 1.5px) rotate(-.5deg)
        }
    
        42% {
            -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
            transform: translate(0, 2.5px) rotate(-1.5deg)
        }
    
        44%, 70% {
            -webkit-transform: translate(0, 1.5px) rotate(.5deg);
            transform: translate(0, 1.5px) rotate(.5deg)
        }
    
        48%, 74%, 82% {
            -webkit-transform: translate(0, -.5px) rotate(.5deg);
            transform: translate(0, -.5px) rotate(.5deg)
        }
    
        52%, 56%, 60% {
            -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
            transform: translate(0, 2.5px) rotate(2.5deg)
        }
    
        58% {
            -webkit-transform: translate(0, .5px) rotate(2.5deg);
            transform: translate(0, .5px) rotate(2.5deg)
        }
    
        84% {
            -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
            transform: translate(0, 1.5px) rotate(2.5deg)
        }
    
        90% {
            -webkit-transform: translate(0, 2.5px) rotate(-.5deg);
            transform: translate(0, 2.5px) rotate(-.5deg)
        }
    
        92% {
            -webkit-transform: translate(0, .5px) rotate(-.5deg);
            transform: translate(0, .5px) rotate(-.5deg)
        }
    
        94% {
            -webkit-transform: translate(0, 2.5px) rotate(.5deg);
            transform: translate(0, 2.5px) rotate(.5deg)
        }
    
        0%, 100% {
            -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0)
        }
    }
    
    .headertop-menu{
        position: absolute;
        top: 30%;
        right: 3%;
        
    }
    .headertop-menu ul li a{
        
        //-webkit-text-stroke: 1px #E3170D; /* 黑色描边，宽度为1px */
        color: #f57878; /* 文字颜色 */
        text-decoration: none;
    }
    .headertop-menu ul li a:hover{
        color:aqua; 
    }
    .font-big{
        position: relative;
        font-size: 40px;
        text-align: right;
        text-shadow:-1px 0 white,0 1px white,1px 0 white,0 -1px white;
    }
    .font-small{
        position: relative;
        //margin-top: -20px;
        height: 30px;
        text-align: right;
        text-shadow:-1px 0 white,0 1px white,1px 0 white,0 -1px white;
    }
    #blog_head_bar{
        position: absolute;
        top: 70px;
        width: 420px;
        height: auto;
        right: 0;
    }
    #brand_title{
        position: absolute;
        display: block;
        
    }
    .logo ruby{
        font-size: 50px;
    }
    .logolink.logo .sakuraso, .logolink.logo .no{
        font-size: 50px;
        
        
    }

    .logolink a:hover .sakuraso {
        color:aqua; 
    }
    
    .logolink a:hover .shironeko,
    .logolink a:hover rt {
        color:aqua; 
    }
}