.handsome {
  .category-body-wrap * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /*HEAD样式表*/
  .head-back-color {
    background-color: #3a3f51;
  }

  .head-brand-color {
    color: rgba(234, 235, 237, 0.99);
  }

  .head-keyword-back-color {
    background-color: rgba(234, 235, 237, 0.98);
  }


  .panel-aside-color {
    color: #4e5c64;
  }

  @for $i from 1 through 35 {
    .panel-item-pic-#{$i} {}
  }

  .panel-item-title-color {
    color: rgb(50, 50, 50);
  }

  .panel-avatar-dec {
    text-align: center;
    padding: 20px;

    img {
      width: 90px;
      height: 90px;
      border-radius: 45px;
    }
  }

  .panel-avatar-sign {
    display: block;
  }

  .panel-right-img-style {
    width: 45px;
    height: 45px;
    border-radius: 25px;
  }

  @for $i from 0 through 9 {
    .panel-right-img-pic-#{$i} {}
  }

  #blog_panel {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: hidden;

    .blog-head-bar {
      position: fixed;
      top: 0;
      width: 100%;
      height: 50px;
    }

    .main-panel {
      padding-top: 50px;

      @include switchHeadBar() {
        .blog-aside-show {
          @include showAside();
        }

        .blog-aside-hide {
          @include hideAside();
        }
      }

      .panel-aside-shape {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        background-color: rgba(0, 0, 0, .3);
        display: none;

        @include switchHeadBar() {
          display: inline-block;
        }
      }

      .panel-aside-shape-hide {
        display: none;
      }

      .panel-aside {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        width: 200px;
        overflow: hidden;
        text-align: left;
        float: left;
      }


      .loading-bar-clz {
        width: 100%;
        position: absolute;
        vertical-align: top;
        z-index: 2;
        width: calc(100% - 230px);
        left: 220px;

        @include switchHeadBar() {
          width: 100%;
          left: 0;
        }
      }

      .loading-body-clz {
        transition: all .25s ease-in-out 0s;
        position: absolute;
        vertical-align: top;
        z-index: 2;
        width: calc(100% - 230px);
        left: 230px;

        @include switchHeadBar() {
          width: 100%;
          left: 0;
        }
      }

      .route-body {
        height: 100%;

        @include switchHeadBar() {
          left: 0px;
          width: 100%;
        }


      }
    }
  }

  #brand_name {
    position: relative;
    margin-left: 16px;
    margin-top: -3px;
  }

  .brand-title-wrap {
    @include deve1() {
      position: relative;
      display: inline-block;
      margin-top: -6px;
      margin-left: 9px;
      width: auto;
      //margin:  0 auto;
    }
  }

  .head-back-color,
  .panel-aside-back-color {
    @include deve1() {}
  }

  #blog_bottom {
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;

    .copyright {
      cursor: default;
      display: inline-block;
      color: #58666e;

      float: left;
      margin-left: 5px;

      // @include switchHeadBar {
      //   margin-left: 5px;
      // }


    }

    .author-clz {
      padding: 0 4px 0 4px;
      font-weight: bold;
      cursor: pointer;
      padding-bottom: 0px;
      border-bottom: 1px solid rgba(120, 120, 120, .6);
    }

    .technology {
      display: inline-block;
      color: #58666e;
      font-size: 13px;
      float: right;



      @include switchHeadBar {
        display: none;
      }
    }

  }

  #route_body {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;


    .inner-route-body {
      // display: inline-block;
      //width:100%;
      // vertical-align: top;
      // position: relative;
      display: table-cell;
      float: none;
      height: 100%;
      vertical-align: top;
      //@include worksBodyWidth();

    }

    .pub-aside {
      // display:inline-block;
      // width: 248px;
      // vertical-align: top;
      // position: relative;

      display: table-cell;
      float: none;
      width: 240px;
      height: 100%;
      vertical-align: top;
      border-left: 1px solid #e2e8ea;
      box-sizing: border-box;

      @include deve1() {
        display: none;
      }

      @include deve2() {
        display: none;
      }

      // @include switchHeadBar() {
      //   display: none;
      // }
    }
  }

  .wrapper-md {
    padding: 20px;
  }

  .panel-aside-img {
    position: absolute;
    bottom: 0;
    background-size: cover;
    /* 背景图片覆盖整个元素 */
    background-repeat: no-repeat;
    /* 背景图片不重复 */
    background-position: center;
    /* 背景图片居中 */
    width: 100%;
    /* 元素宽度 */
    height: 60%;
    /* 元素高度 */
    z-index: -1;
    display: none;
    //border: 2px solid #00FF1B;
    //animation: breath 4s linear infinite;
  }

  #post-panel>div.blog-post>.panel:not(.b-a),
  #post-panel>div.blog-post>.panel-small {
    transition: all .2s;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2) !important;
  }

  #post-panel>div.blog-post>.panel,
  #post-panel>div.blog-post>.panel-small,
  .wrapper-md>#comments,
  .wrapper-md>.breadcrumb {
    background-color: rgba(255, 255, 255, .9);
  }

  .blog-post>.panel,
  .blog-post>.panel-small {
    border: 0;
    border-radius: 5px;
  }

  .panel {
    margin-bottom: 20px;
    //background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  }

  .index-post-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
  }

  .item-thumb {
    min-height: 250px;
    position: relative;
    display: block;
    background-position: 50% 50%;
    background-size: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .index-post-img-small {
    overflow: hidden;
  }

  .index-img-small {
    position: relative;
    width: 30%;
    float: left;
  }

  .blog-post>.panel .index-post-img .item-thumb,
  .panel-small .index-post-img-small .item-thumb-small,
  .index-post-title a {
    transition: all .2s;
  }

  @media (max-width: 1199px) {
    .item-thumb {
      min-height: 185px;
      height: auto;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  .panel .post-meta.wrapper-lg {
    padding: 20px;
  }

  .index-post-title,
  .navbar-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .index-post-title {
    font-size: 22px;
  }

  .m-t-none {
    margin-top: 0 !important;
  }

  .blog-post>.panel:hover .index-post-img .item-thumb,
  .blog-post>.panel-small:hover .index-post-img-small .item-thumb-small {
    transform: scale(1.05)
  }

  .wrapper-md>#comments,
  .wrapper-md>.blog-post,
  .wrapper-md>.breadcrumb,
  .m-t-lg.m-b-lg,
  .wrapper-md>.no_search_result {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto
  }

  #post-panel>div.blog-post>.panel,
  #post-panel>div.blog-post>.panel-small,
  .wrapper-md>#comments,
  .wrapper-md>.breadcrumb {
    background-color: rgba(255, 255, 255, .9)
  }

  .panel-small {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    overflow: hidden;
    background: #fff;
  }

  @media screen and (min-width: 1200px) {
    .route-body {
      margin-left: 200px;
    }

    .panel-small .post-meta {
      padding: 13px 15px !important
    }

    .blog-post .post-meta.wrapper-lg {
      padding-top: 15px
    }

    .sticky {
      position: relative;
      top: 12px;
      left: 15px;
      width: 50px;
      height: 30px;
      background-color: #FF0000;
      color: #fff;
      padding: 3px 3px;
      border-radius: 5px;
      text-align: center;
      z-index: 9;
    }

    .panel .item-thumb {
      height: 300px
    }

    #post-panel .blog-post {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between
    }

    #post-panel .ahover {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }


    #post-panel>div.blog-post>.panel {
      overflow: hidden;
      width: 100%
    }

    #post-panel>div.blog-post>.panel .post-meta {
      position: relative;
      margin-top: -300px;
      height: 300px;
      padding-top: 133px !important;
      padding-bottom: 0 !important;
      background-color: rgba(0, 0, 0, .3);
      color: #fff !important;
      transition: all .3s;
    }

    #post-panel>div.blog-post>.panel .post-meta,
    #post-panel>div.blog-post>.panel-small .post-meta {
      border-radius: 5px
    }

    #post-panel>div.blog-post>.panel .post-meta *,
    #post-panel>div.blog-post>.panel-small .post-meta * {
      color: #fff !important;
    }

    #post-panel>div.blog-post>.panel .post-meta>h2,
    #post-panel>div.blog-post>.panel-small .post-meta>h2 {
      text-align: center;
      text-shadow: 0 0 3px #fff;
    }

    #post-panel>div.blog-post>.panel .post-meta>div,
    #post-panel>div.blog-post>.panel .post-meta>p,
    #post-panel>div.blog-post>.panel-small .post-meta>div,
    #post-panel>div.blog-post>.panel-small .post-meta>p {
      transition: all .3s;
      transform: translateY(-10px);
      opacity: 0
    }

    #post-panel>div.blog-post>.panel .post-meta>.text-muted,
    #post-panel>div.blog-post>.panel-small .post-meta>.text-muted {
      position: absolute;
      width: 100%;
      bottom: 20px;

    }

    #post-panel>div.blog-post>.panel .post-meta>.line {
      position: absolute;
      bottom: 40px;
      width: 740px;
    }

    #post-panel>div.blog-post>.panel-small .post-meta>.line {
      position: absolute;
      bottom: 40px;
      width: 350px
    }

    #post-panel>div.blog-post>.panel .post-meta>.summary {
      position: absolute;
      bottom: 60px;
      width: 740px;
    }

    #post-panel>div.blog-post>.panel-small .post-meta>.summary {
      position: absolute;
      bottom: 60px;
      width: 350px;
    }

    #post-panel>div.blog-post>.panel-small {
      display: inline-block;
      height: 300px;
      width: calc(50% - 10px);

    }

    #post-panel>div.blog-post>.panel-small .index-img-small,
    #post-panel>div.blog-post>.panel-small .index-img-small .item-thumb-small {
      height: 100%;
      width: 100%;
      margin-top: -15px;
      background-size: cover;
      background-position: right bottom;
      background-repeat: no-repeat;
      border-radius: 5px
    }

    #post-panel>div.blog-post>.panel-small .post-meta {
      position: absolute;
      margin-top: -30px;
      height: 300px;
      width: calc(50% - 10px);
      padding: 133px 20px 0 20px !important;
      background-color: rgba(0, 0, 0, .3);
      color: #fff !important;
      transition: all .3s;
    }

    #post-panel>div.blog-post>.panel-small:hover .post-meta,
    #post-panel>div.blog-post>.panel:hover .post-meta {
      background-color: rgba(0, 0, 0, .6)
    }

    #post-panel>div.blog-post>.panel-small:hover .post-meta>div,
    #post-panel>div.blog-post>.panel-small:hover .post-meta>p,
    #post-panel>div.blog-post>.panel:hover .post-meta>div,
    #post-panel>div.blog-post>.panel:hover .post-meta>p {
      opacity: 1;
      transform: translateY(0)
    }

    #post-panel>div.blog-post>.panel-small:hover .post-meta,
    #post-panel>div.blog-post>.panel:hover .post-meta {
      padding-top: 80px !important;

    }

    #post-panel>div.blog-post>.panel:hover .post-meta .summary,
    div.blog-post>.panel-small :hover .summary {
      transform: translateY(-30px);
      transition: all .3s;
      opacity: 1;
      bottom: 30px;
    }

    #post-panel>div.blog-post>.panel :hover .post-meta .line,
    #post-panel>div.blog-post>.panel-small :hover .post-meta .line {
      opacity: 1;
    }

    #post-panel>div.blog-post>.panel :hover .post-meta .text-muted,
    #post-panel>div.blog-post>.panel-small :hover .post-meta .text-muted {
      opacity: 1;
    }


    #post-panel .ahover {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0
    }

    .blog-post>.panel-small:hover .index-post-img-small,
    .blog-post>.panel:hover .index-post-img {
      filter: blur(3px)
    }

    #blog_bottom {
      position: relative;
    }
  }

  .menu-item-area {
    display: block;
    height: 40%;
    font-size: 14px;
    z-index: 99;
  }

  * {
    list-style-type: none;
  }

  .headertop {
    position: relative;
    overflow: hidden;
    height: auto;
  }

  .headertop,
  .pattern-center {
    animation: header 1s;
  }

  // .headertop.filter-dot:before {
  //   background-image: url(https://images.weserv.nl/?url=https://jsdelivr.2heng.xin/gh/moezx/cdn@3.1.9/img/Sakura/images/dot.gif);
  // }

  // .headertop:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 3;
  //   background-attachment: fixed;
  // }

  #bgvideo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    //min-width: 99.999%;
    //min-height: 550px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  #video-btn,
  #video-add {
    position: absolute;
    bottom: 3px;
    right: 5px;
    width: 32px;
    height: 32px;
    z-index: 7;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    opacity: .8;
    -moz-animation: poi-face 10s linear infinite alternate;
    -webkit-animation: poi-face 10s linear infinite alternate;
    -o-animation: poi-face 10s linear infinite alternate;
    animation: poi-face 10s linear infinite alternate;
  }

  .video-play,
  .loadvideo {
    background-image: url(https://images.weserv.nl/?url=https://jsdelivr.2heng.xin/gh/moezx/cdn@3.1.9/img/Sakura/images/play@32x32.png);
  }

  .video-pause {
    background-image: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/pause@32x32.png)
  }


  #video-add {
    display: none !important;
  }

  #video-add {
    background-image: url(https://images.weserv.nl/?url=https://jsdelivr.2heng.xin/gh/moezx/cdn@3.1.9/img/Sakura/images/add@32x32.png);
    bottom: 45px;
    display: none;
  }

  .video-stu {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 6px 15px;
    text-align: center;
    color: #FFF;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0;
    font-size: 18px;
    -webkit-transition: .4s ease all;
    -moz-transition: .4s ease all;
    -o-transition: .4s ease all;
    transition: .4s ease all
  }

  @keyframes poi-face {

    2%,
    24%,
    80% {
      -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
      transform: translate(0, 1.5px) rotate(1.5deg)
    }

    4%,
    68%,
    98% {
      -webkit-transform: translate(0, -1.5px) rotate(-.5deg);
      transform: translate(0, -1.5px) rotate(-.5deg)
    }

    38%,
    6% {
      -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
      transform: translate(0, 1.5px) rotate(-1.5deg)
    }

    8%,
    86% {
      -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
      transform: translate(0, -1.5px) rotate(-1.5deg)
    }

    10%,
    72% {
      -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
      transform: translate(0, 2.5px) rotate(1.5deg)
    }

    12%,
    64%,
    78%,
    96% {
      -webkit-transform: translate(0, -.5px) rotate(1.5deg);
      transform: translate(0, -.5px) rotate(1.5deg)
    }

    14%,
    54% {
      -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
      transform: translate(0, -1.5px) rotate(1.5deg)
    }

    16% {
      -webkit-transform: translate(0, -.5px) rotate(-1.5deg);
      transform: translate(0, -.5px) rotate(-1.5deg)
    }

    18%,
    22% {
      -webkit-transform: translate(0, .5px) rotate(-1.5deg);
      transform: translate(0, .5px) rotate(-1.5deg)
    }

    20%,
    36%,
    46% {
      -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
      transform: translate(0, -1.5px) rotate(2.5deg)
    }

    26%,
    50% {
      -webkit-transform: translate(0, .5px) rotate(.5deg);
      transform: translate(0, .5px) rotate(.5deg)
    }

    28% {
      -webkit-transform: translate(0, .5px) rotate(1.5deg);
      transform: translate(0, .5px) rotate(1.5deg)
    }

    30%,
    40%,
    62%,
    76%,
    88% {
      -webkit-transform: translate(0, -.5px) rotate(2.5deg);
      transform: translate(0, -.5px) rotate(2.5deg)
    }

    32%,
    34%,
    66% {
      -webkit-transform: translate(0, 1.5px) rotate(-.5deg);
      transform: translate(0, 1.5px) rotate(-.5deg)
    }

    42% {
      -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
      transform: translate(0, 2.5px) rotate(-1.5deg)
    }

    44%,
    70% {
      -webkit-transform: translate(0, 1.5px) rotate(.5deg);
      transform: translate(0, 1.5px) rotate(.5deg)
    }

    48%,
    74%,
    82% {
      -webkit-transform: translate(0, -.5px) rotate(.5deg);
      transform: translate(0, -.5px) rotate(.5deg)
    }

    52%,
    56%,
    60% {
      -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
      transform: translate(0, 2.5px) rotate(2.5deg)
    }

    58% {
      -webkit-transform: translate(0, .5px) rotate(2.5deg);
      transform: translate(0, .5px) rotate(2.5deg)
    }

    84% {
      -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
      transform: translate(0, 1.5px) rotate(2.5deg)
    }

    90% {
      -webkit-transform: translate(0, 2.5px) rotate(-.5deg);
      transform: translate(0, 2.5px) rotate(-.5deg)
    }

    92% {
      -webkit-transform: translate(0, .5px) rotate(-.5deg);
      transform: translate(0, .5px) rotate(-.5deg)
    }

    94% {
      -webkit-transform: translate(0, 2.5px) rotate(.5deg);
      transform: translate(0, 2.5px) rotate(.5deg)
    }

    0%,
    100% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0)
    }
  }

  .headertop-menu {
    position: absolute;
    top: 30%;
    right: 3%;

  }

  .headertop-menu ul li a {

    //-webkit-text-stroke: 1px #E3170D; /* 黑色描边，宽度为1px */
    color: #f57878;
    /* 文字颜色 */
    text-decoration: none;
  }

  .headertop-menu ul li a:hover {
    color: aqua;
  }

  .font-big {
    position: relative;
    font-size: 40px;
    text-align: right;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  .font-small {
    position: relative;
    //margin-top: -20px;
    height: 30px;
    text-align: right;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  .headertop-logo {
    position: absolute;
    top: 10%;
    right: 3%;

  }

  .headertop .logo ruby {
    font-size: 50px;
  }

  .headertop .logolink.logo .sakuraso,
  .headertop .logolink.logo .no {
    font-size: 50px;


  }

  .headertop .logolink a:hover .sakuraso {
    color: aqua;
  }

  .headertop .logolink a:hover .shironeko,
  .headertop .logolink a:hover rt {
    color: aqua;
  }
}